{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
{% include theme("client_menu.html") %}
<div class="container">
<h2>{% trans %}Blacklisted numbers{% endtrans %}</h2>
<p>{% trans %}Here, you can configure some numbers you want to blacklist. If one of these numbers calls, the plugin will take the phone of the hook and then put the receiver down.{% endtrans %}
<p>{% trans %}The format of each line is : <strong>reason of the blacklist;number (ex: 0102030405)</strong>.{% endtrans %}
<form method="POST">
  <div class="form-group">
    {{ form.csrf_token }}
    {{ form.blacklist(rows=10, cols=50) }}
  </div>
  <button class="btn btn-info" type="submit">{% trans %}Save{% endtrans %}</button>
</form>
</div>
{% endblock %}
